*{
    box-sizing: border-box;
}
body{
    font-family: Roboto;
    font-size: 15px;
    line-height: 1;
    overflow-x: hidden;
}
h1{
    font-size: 24px;
    text-transform: uppercase;
}
h2{
    font-size: 30px;
}
.wrapper{
    max-width: 1300px;
    margin: 0 auto;
}
header{
    box-shadow: 0px 5px 5px 0px rgba(209, 203, 202, 0.75);
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;
}
header .wrapper .left-block{
    display: flex;
}
header .menu ul{
    list-style: none;
    padding: 0;
    display: flex;
}
header .menu ul li{
    margin: 0 25px;
}
header .menu ul a{
    font-size: 18px;
    color: rgb(71, 71, 71);
    text-decoration: none;
}
header .menu ul a:hover{
    color: #0b9446;
}
header .buttons .search{
    background-image: url("../img/ico-search.png");
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
header .buttons .map{
    background-image: url("../img/ico-map.png");
    display: inline-block;
    width: 14px;
    height: 20px;
}
.main-slider{
    margin-bottom: 18px;
}
#slider{
    margin: 0;
    padding: 0;
    position: relative;
}
#slider .slick-slide{
    height: 535px;
}
#slider .slider-item{
    background-repeat: repeat;
    background-position: 50% 50%;
    height: 535px;
    position: relative;
}
#slider .slick-dots{
    bottom: 20px;
}
#slider .slick-dots li button:before{
    display: inline-block;
    font-size: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
    box-shadow: 0px 5px 5px 0px rgba(87, 86, 86, 0.75);
}
#slider .slick-dots li.slick-active button:before{
    background-color: rgb(11, 148, 70);
}
#slider .slider-item .text-block{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.678);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 40px 80px 60px 24px;
    color: #fff;
}
#slider .slider-item .text-block .title{
    font-size: 30px;
    margin-bottom: 35px;
    font-weight: 500;
}
#slider .slider-item .text-block .desc{
    font-size: 15px;
    line-height: 2;
    margin-bottom: 35px;
}
#slider .slider-item .text-block .btn{
    background-color: #0b9446;
    color: #fff;
    padding: 10px 25px;
    text-decoration: none;
}
.section-list{
    display: flex;
    justify-content: space-between;
}
.section-list .section-item{
    width: 20%;
    color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}
.section-1{
    position: relative;
    box-shadow: 0px 5px 5px 0px rgba(209, 203, 202, 0.75);
    background-image: url("../img/bg-section.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.section-1 .wrapper{
    position: relative;
    z-index: 1;
}
.section-1 .bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(242,242,242, 0.91);
}
.section-1 a{
    text-decoration: none;

    color: #494949;
    font-size: 18px;
}

.section-list .section-item.long{
    width: 38%;
    justify-content: space-between;
    align-items: flex-start;
}
.section-list .section-item.long a{
    color: #565656;
    border-left: 7px solid #0b9446;
}
.section-list .section-item a{
    margin-top: 15px;
}
.section-list .section-item:nth-child(1){
    background-color: #4bbc7a;
}
.section-list .section-item:nth-child(2){
    background-color: #2ec46b;
}
.section-list .section-item:nth-child(3){
    background-color: #00913c;
}
.section-list .section-item:nth-child(4){
    background-color: #08652e;
}
.car-list{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.car-list .car-item{
    width: 230px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.car-list .car-item a{
    margin-top: 15px;
}
.section-list .section-item a.btn.white{
    background-color: #fcfcfc;
    padding: 8px 15px;
}
.section-list .section-item.long .text{
    font-size: 24px;
}
.section-1 h2{
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 30px;
}
.section-car-model{
    padding-bottom: 40px;
}
.section-car-model h2{
    margin-top: 40px;
    margin-bottom: 18px;
}
.section-car-model p.desc{
    font-size: 18px;
    color: #565656;
    margin-bottom: 40px;
}
.section-car-model .car-models{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
.section-car-model .car-models .car-models-col{
    flex: 0 0 190px;
}
.section-car-model .car-models .car-models-item{
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}
.section-car-model .car-models .car-models-item a{
    margin-left: 10px;
    text-decoration: none;
    color: #000;
}
.section-car-model .car-models::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.section-car-model .car-models::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #0b9444;
}
.section-car-model .car-models::-webkit-scrollbar-track-piece {
    background-color: #e5e5e5;
}
.custom-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.custom-scroll::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #0b9444;
}
.custom-scroll::-webkit-scrollbar-track-piece {
    background-color: #e5e5e5;
}
.section-form{

    padding: 80px 0 55px 0;
    position: relative;
    box-shadow: 0px 5px 5px 0px rgba(209, 203, 202, 0.75);
    background-image: url("../img/bg-section.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.section-form .wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.section-form .bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(242,242,242, 0.91);
}
.section-form h2{
    font-size: 19px;
}
.section-form form .top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.section-form form .top .input-block{
    width: 70%;
    font-size: 18px;
}
.section-form form .top .input-block input{
    border: none;
    padding: 20px 15px;
    outline: none;
}
.section-form form .top .button-block {
    width: 28%;
    font-size: 20px;
}
.section-form form .top .button-block input{
    border: none;
    padding: 17px 15px;
    background-color: #0b9446;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    outline: none;
}
.section-form form .top  input{
    width: 100%;
}

.section-form form .bottom{
    color: #7e7e7e;
}
.section-form {
    position: relative;
    box-shadow: 0px 5px 5px 0px rgba(209, 203, 202, 0.75);
}
.section-form .right-block img{
    position: absolute;
    right: -6%;
    top: -72%;
    width: 630px;
}
.section-special-offers{
    padding-bottom: 100px;
}
.section-special-offers h2{
    margin-top: 60px;
    margin-bottom: 40px;
}
.special-offers-list{
    display: flex;
    justify-content: center;
    margin-left: -5px;
    margin-right: -5px;
}
.special-offers-list .special-offers-item{
    max-width: 33%;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #b5b3af;
    box-shadow: 0px 4px 4px 0px rgba(172, 171, 172, 0.75);
    padding: 18px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: #fff;
}
.special-offers-list .special-offers-item .img{
    max-width: 380px;
    overflow: hidden;
}
.special-offers-list .special-offers-item .name{
    margin-top: 15px;
    font-size: 23px;
    color: #3e3e3e;
}
.special-offers-list .special-offers-item .desc{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
    color: #3e3e3e;
}
.special-offers-list .special-offers-item .bottom{
    margin-top: 15px;
    text-align: center;
}
.special-offers-list .special-offers-item .bottom a{
    display: block;
    text-decoration: none;
    padding: 21px 0px;
    background-color: #0b9446;
    color: #fff;
    border: 1px solid #fff;
}
.section-form-2{
    padding: 60px 0 130px 0;
    position: relative;
    box-shadow: 0px 5px 5px 0px rgba(209, 203, 202, 0.75);
    background-image: url("../img/bg-section-2.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.section-form-2 .wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.section-form-2 .bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(242,242,242, 0.91);
}
.section-form-2 .man img{
    position: absolute;
    bottom: -137px;
}
.section-form-2 .form{
    margin-right: 80px;
    text-align: center;
    position: relative;
}
.section-form-2 .form .title{
    font-size: 36px;
    color: #0b9446;
    margin-bottom: 75px;
}
.section-form-2 .form .input-block{
    width: 400px;
    margin: 0 auto;
}
.section-form-2 .form .input-block input{
    width: 100%;
    border: 1px solid #7d7d7d;
    border-radius: 0;
    margin-bottom: 15px;
    font-size: 16px;
    padding: 10px 15px;
}
.section-form-2 .form .input-send input{
    border: none;
    padding: 10px 35px;
    background-color: #0b9446;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.section-form-2 .form:before{
    content: '';
    position: absolute;
    background-image: url("../img/form-bg.png");
    width: 497px;
    height: 307px;
    left: -40px;
    top: 40px;
}
.section-featured{
    padding-bottom: 80px;
}
.section-featured h2{
    margin-top: 80px;
    margin-bottom: 75px;
}
.featured-list{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
.featured-list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.featured-list::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #0b9444;
}
.featured-list::-webkit-scrollbar-track-piece {
    background-color: #e5e5e5;
}
.featured-list .featured-item{
    flex: 0 0 425px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.featured-list .featured-item a{
    text-decoration: none;
    color: #363636;
    font-size: 24px;
    margin-top: 10px;
}
footer{
    background-color: #363636;
    padding: 35px 0 50px 0;
    color: #fff;
}
footer .footer-menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}
footer .footer-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
footer .footer-menu a:hover{
    color: #0b9446;
}
footer .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .bottom .social{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
}
.navbar{
    display: none;
}
.svg-inline--fa.fa-w-14 {
    width: .875em;
}
svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

.mobile_menu_overlay, .mobile_menu_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mobile_menu_container, .mobile_menu_container ul li ul{
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
}
.mobile_menu_overlay{
    display: none;
    cursor: pointer;
    z-index: 10200;
    background: rgba(0, 0, 0, 0.5);
}
.mobile_menu_container{
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    width: 300px;
    overflow: hidden;
    z-index: 10201;
    background: #0b9446;
}
.mobile_menu_container.loaded{
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.mobile_menu_container .mobile_menu_content{
    overflow: auto;
    max-height: 100%;
    padding-bottom: 30px;
}
.mobile_menu_container ul{
    margin: 0;
    padding: 0;
}
.mobile_menu_container ul li{
    list-style: none;
}
.mobile_menu_container ul li a{
    display: block;
    padding: 15px 20px;
    line-height: 20px;
    font-size: 16px;
    background: #0b9446;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.mobile_menu_container ul li a.parent{
    padding-right: 50px;
    background: #0b9446 url("../img/arrow_right.svg") right 20px center no-repeat;
    background-size: 20px;
}
.mobile_menu_container ul li a.parent:hover{
    background: #0b9446 url("../img/arrow_right.svg") right 20px center no-repeat;
    background-size: 20px;
}
.mobile_menu_container ul li a.back{
    padding-left: 50px;
    background: #0b9446 url("../img/arrow_left.svg") left 20px center no-repeat;
    background-size: 20px;
    box-sizing: border-box;
    min-height: 50px;
}
.mobile_menu_container ul li a.back:hover{
    background: #0b9446 url("../img/arrow_left.svg") left 20px center no-repeat;
    background-size: 20px;
}
.mobile_menu_container ul li a:hover{
    background: #0b9446;
}
.mobile_menu_container ul li ul{
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0b9446;
    z-index: 2;
}
.mobile_menu_container ul li ul.loaded{
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.mobile_menu_container ul li ul.activity{
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 320px){
    .mobile_menu_container{
        width: 240px;
    }
}
@media (max-width: 1470px) {
    .section-form .right-block img{
        width: 530px;
        right: 3%;
        top: -59%;
    }
}
@media (max-width: 1320px) {
    .wrapper{
        padding: 0 15px;
    }
}
@media (max-width: 1300px) {
    .wrapper{
        width: 100%;
    }
}
@media (max-width: 1285px) {
    .section-form .wrapper{
        flex-flow: column;
    }
    .section-form .right-block img{
        position: relative;
        top: auto;
        right: auto;
    }
    .section-form .right-block{
        text-align: center;
    }
}
@media (max-width: 1185px) {
    footer .footer-menu{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    footer .footer-menu li{
        text-align: center;
        width: 25%;
        margin-bottom: 15px;
    }
    footer .footer-menu .separator{
        display: none;
    }
    footer .bottom{
        flex-flow: column;
        align-items: center;
    }
}
@media (max-width: 1085px) {
    header .menu ul li {
        margin: 0 15px;
    }
    #slider .slider-item,
    #slider .slick-slide{
        height: 435px;
    }
    .special-offers-list{
        margin: 0;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .special-offers-list .special-offers-item{
        max-width: 545px;
        margin-bottom: 15px;
    }
    .special-offers-list .special-offers-item .img{
        margin: 0 auto;
    }
}
@media (max-width: 970px) {
    .car-list{
        flex-wrap: wrap;
    }
    .navbar {
        display: inline-block!important;
        font-size: 30px;
        color: #353C45;
    }
    header .menu{
        display: none;
    }
    .section-list{
        flex-wrap: wrap;
        justify-content: center;
    }
    .section-list .section-item{
        width: 49%!important;
        margin: 2px;
    }
}
@media (max-width: 900px) {
    .section-form-2 .man{
        display: none;
    }
    .section-form-2 .wrapper{
        justify-content: center;
    }
    .section-form-2 .form{
        margin: 0;
    }
    footer .bottom .social{
        width: 50%;
    }
}
@media (max-width: 550px) {
    .wrapper{
        padding: 0 10px;
    }
    .section-form .right-block img{
        margin-top: 20px;
        width: 90%;
    }
}
@media (max-width: 520px) {
    footer .footer-menu li{
        width: 50%;
    }
    .section-form-2 .form:before{
        content: none;
    }
    .section-form-2 .form .title{
        margin-bottom: 25px;
    }
    .section-form-2{
        padding: 60px 0;
    }
}
@media (max-width: 480px) {
    .section-list .section-item{
        width: 100%!important;
    }
    .section-form form .top{
        flex-flow: column;
        align-items: center;
    }
    .section-form form .top .input-block{
        width: 100%;
        margin-bottom: 15px;
    }
    .car-list .car-item{
        margin-bottom: 15px;
    }

    .section-form form .top .button-block{
        width: auto;
    }
    .section-form{
        padding: 25px 0;
    }
    h2{
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .section-car-model p.desc{
        text-align: center;
    }

}
@media (max-width: 440px) {
    .special-offers-list .special-offers-item{
        max-width: 100%;
    }
    .special-offers-list .special-offers-item img{
        width: 100%;
        height: auto;
    }
    .special-offers-list .special-offers-item .name{
        font-size: 18px;
    }
    .special-offers-list .special-offers-item .desc{
        font-size: 15px;
    }
    .section-form-2 .form .input-block{
        width: 100%;
    }
    .section-form-2 .form .title{
        font-size: 30px;
    }
    .featured-list .featured-item{
        flex: 0 0 300px;
        margin-right: 25px;
    }
    .featured-list .featured-item img{
        width: 100%;
        height: auto;
    }
}


/*car detail*/
.breadcrumb{
    margin: 50px 0;
}
.breadcrumb ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.breadcrumb ul li{
    margin: 3px;
}
.breadcrumb ul li:first-child{
    margin-left: 0;
}
.breadcrumb ul li:last-child{
    margin-right: 0;
}
.breadcrumb ul li,
.breadcrumb ul li a{
    text-transform: uppercase;
    color: #848485;
    font-size: 12px;
    text-decoration: none;
}
.detail-card .wrapper{
    display: flex;
    flex-wrap: wrap;
}
.detail-card .wrapper .left-block{
    width: 60%;
    margin-top: 15px;
}
.detail-card .wrapper .right-block{
    width: 40%;
    padding-left: 30px;
    height: auto;
}
.detail-card .wrapper .right-block .child-block{
    height: 100%;
    padding: 25px;
    background-color: #f2f2f2;
}
.detail-card .wrapper .right-block .child-block .top{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.detail-card .wrapper .right-block .child-block .top .vin{
    width: 100%;
    margin-top: 20px;
    color: #777676;
    font-size: 14px;
}
.detail-card .wrapper .right-block .child-block .top .year,
.detail-card .wrapper .right-block .child-block .top .name{
    color: #303030;
    font-size: 24px;
    text-transform: uppercase;
}
.detail-card .wrapper .right-block .child-block .top .year{
    margin-left: 15px;
}
.detail-card .wrapper .right-block .child-block .props{
    margin: 40px 0;

}
.detail-card .wrapper .right-block .child-block .props ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.detail-card .wrapper .right-block .child-block .props ul li{
    color: #020202;
    margin-bottom: 20px;
    position: relative;
}
.detail-card .wrapper .right-block .child-block .props ul li:before{
    content: '';
    background-repeat: no-repeat;
    display: inline-block;
    padding-right: 15px;
    width: 18px;
}
.detail-card .wrapper .right-block .child-block .props ul li.body:before{
    background-image: url("../img/detail-car/ico-prop-body.png");
    height: 12px;
}
.detail-card .wrapper .right-block .child-block .props ul li.equipment:before{
    background-image: url("../img/detail-car/ico-prop-equipment.png");
    height: 18px;
}
.detail-card .wrapper .right-block .child-block .props ul li.engine:before{
    background-image: url("../img/detail-car/ico-prop-engine.png");
    height: 12px;
}
.detail-card .wrapper .right-block .child-block .props ul li.box:before{
    background-image: url("../img/detail-car/ico-prop-box.png");
    height: 12px;
}
.detail-card .wrapper .right-block .child-block .props ul li.drive:before{
    background-image: url("../img/detail-car/ico-prop-drive.png");
    height: 13px;
}
.detail-card .wrapper .right-block .child-block .props ul li.color:before{
    background-image: url("../img/detail-car/ico-prop-color.png");
    height: 13px;
}

.detail-card .wrapper .right-block .child-block .props ul li:last-child{
    margin-bottom: 0;
}
.detail-card .wrapper .right-block .child-block .bottom ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.detail-card .wrapper .right-block .child-block .bottom ul li:first-child{
    padding-top: 0;
}
.detail-card .wrapper .right-block .child-block .bottom ul li{
    border-bottom: 1px solid #aaaaaa;
    padding: 20px 0;
}
.detail-card .wrapper .right-block .child-block .bottom ul li.ico{
    position: relative;
    display: flex;
}
.detail-card .wrapper .right-block .child-block .bottom ul li.ico:before{
    content: '';
    background-image: url("../img/detail-car/ico-select-buy.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    padding-left: 15px;
}
.detail-card .wrapper .right-block .child-block .bottom ul li .name{
    font-size: 14px;
    color: #303030;
    margin-bottom: 2px;
}
.detail-card .wrapper .right-block .child-block .bottom ul li a{
    font-size: 16px;
    color: #0b9446;
}
.detail-card .wrapper .right-block .child-block .bottom .price{
    font-size: 36px;
    color: #0b9446;
    font-weight: 500;

}
.detail-card .wrapper .right-block .child-block .buttons{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.detail-card .wrapper .right-block .child-block .buttons a.btn{
    margin-top: 15px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #0000ff;
    width: 90%;
    padding: 13px 0;
}
.detail-card .wrapper .tabs{
    width: 100%;
    margin-top: 60px;
}
.detail-card .wrapper .tabs ul.head{
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 25px;
}
.detail-card .wrapper .tabs ul.head:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #d3d5d4;
    z-index: -1;
}
.detail-card .wrapper .tabs ul.head a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #5d5f5e;
    text-transform: uppercase;
    padding: 10px 0;
}
.detail-card .wrapper .tabs ul.head li.active{
    border-bottom: 4px solid #0b9446;
}
.detail-card .wrapper .tabs ul.head li:first-child a{
    padding-left: 0;
}
.detail-card .wrapper .tabs ul.head li{
    margin-right: 40px;

}
.detail-card .wrapper .tabs .content-tabs .tab{
    display: none;
    position: relative;
    color: #5b5b5b;
    font-size: 14px;
}

.detail-card .wrapper .tabs .content-tabs .tab.active{
    display: block;
}
.detail-card .wrapper .tabs .content-tabs .tab.big{
    height: 250px;
    overflow: hidden;
}
.detail-card .wrapper .tabs .content-tabs .tab .more-block{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 18px;
    background-color: #fff;
    border-top: 2px solid #aaaaaa;
}
.detail-card .wrapper .tabs .content-tabs .tab .more-block a{
    position: relative;
    top: -16px;
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border: 1px solid #aaaaaa;
    color: #0b9446;
    border-radius: 50%;
    text-decoration: none;
    font-size: 24px;
    line-height: 30px;
    transform: rotate(90deg);
}
.detail-card .wrapper .tabs .content-tabs .tab.props.active{
    display: flex;
    flex-wrap: wrap;

}
.detail-card .wrapper .tabs .content-tabs .tab.props ul{
    list-style: none;
    padding: 0;
    flex:1 1 calc(33.33% - 30px);
    margin:10px;
    min-width: 400px;
}
.detail-card .wrapper .tabs .content-tabs .tab.props li.prop{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
}
.detail-card .wrapper .tabs .content-tabs .tab.props li.prop:after{
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px dotted;
    bottom: 0;
    z-index: -1;
}
.detail-card .wrapper .tabs .content-tabs .tab.props li.prop .name,
.detail-card .wrapper .tabs .content-tabs .tab.props li.prop .value{
    border-bottom: 1px solid #fff;
    line-height: 0.5;
}
.detail-card .wrapper .tabs .content-tabs .tab.props li.prop .name{
    padding-right: 5px;
}
.detail-card .wrapper .tabs .content-tabs .tab.props li.prop .value{
    padding-left: 5px;
}
.detail-card .wrapper .tabs .content-tabs .tab.props li.name{
    color: #000000;
    margin-bottom: 15px;
    font-weight: 500;
}
.section-similar .wrapper{
    overflow: hidden;
}
.section-similar .similar-list{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 15px;
}
.section-similar .similar-list .similar-item{
    flex: 0 0 386px;
    border: 1px solid #000;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-right: 70px;
    box-shadow: 0px 4px 4px 0px rgba(172, 171, 172, 0.75);
    background-color: #fff;
}
.section-similar .similar-list .similar-item .top{
    padding: 15px;
}
.section-similar .similar-list .similar-item .top .img{
    margin: 50px 0;
}
.section-similar .similar-list .similar-item .top img{
    max-width: 100%;
}
.section-similar .similar-list .similar-item .top .name{
    font-size: 24px;
    margin-bottom: 15px;
}
.section-similar .similar-list .similar-item .bottom{
    color: #fff;
    background-color: #0b9446;
    padding: 15px;
}
.section-similar .similar-list .similar-item .bottom .price{
    font-size: 24px;
    margin-bottom: 5px;
}
.section-similar .similar-list .similar-item .bottom a{
    color: #fff;
    font-size: 20px;
}
.section-form-car{
    margin: 120px 0;
}
.section-form-car .wrapper{
    display: flex;
}
.section-form-car .wrapper .left-block img{
    position: relative;
    right: -50px;
    top: 50px;
}
.section-form-car .wrapper .right-block .form-block{
    position: relative;
    width: 415px;
    margin-left: 120px;
}
.section-form-car .wrapper .right-block .form-block:before{
    content: '';
    position: absolute;
    display: inline-block;
    background-image: url("../img/detail-car/form-car-bg.png");
    width: 680px;
    height: 318px;
    top: -45px;
    left: -150px;
    z-index: -1;
}
.section-form-car .wrapper .right-block .title{
    font-size: 24px;
    text-transform: uppercase;
    color: #363636;
    margin-bottom: 10px;
}
.section-form-car .wrapper .right-block .desc{
    font-size: 11px;
    text-transform: uppercase;
    color: #b3b1b1;
    margin-bottom: 20px;
}
.section-form-car .wrapper .right-block .form-block input{
    width: 100%;
    font-size: 16px;
    padding: 15px;
    outline: none;
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px 0px rgba(181, 180, 180, 0.75);
}
.section-form-car .wrapper .right-block .form-block input[type=text]{
    border-radius: 0;
    border: 1px solid #7d7d7d;

}
.section-form-car .wrapper .right-block .form-block input[type=submit]{
    background-color: #002ab4;
    border: none;
    text-transform: uppercase;
    color: #fff;
}
.bg-section-car-page{
    background-image: url("../img/detail-car/bg-section.png");
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;
}
.bg-section-car-page h2{
    margin-top: 0;
}
@media (max-width: 1300px) {
    .section-form-car .wrapper .right-block .form-block:before{
        left: -221px;
    }
    .section-similar .similar-list .similar-item{
        margin-right: 50px;
    }
}
@media (max-width: 1242px) {
    .section-form-car .wrapper .right-block .form-block:before{
        left: -221px;
    }
    .section-form-car .wrapper .left-block img{
        width: 100%;
        right: 0;
    }
    .section-form-car .wrapper .right-block .form-block{
        margin-left: 15px;
    }
}
@media (max-width: 1142px) {

    .section-form-car .wrapper .left-block{
        width: 500px;
    }
    .section-form-car .wrapper .left-block img{
        top: 100px;
    }
    .section-form-car .wrapper{
        justify-content: center;
    }
}
@media (max-width: 900px) {
    .detail-card .wrapper .right-block,
    .detail-card .wrapper .left-block{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .section-form-car .wrapper .right-block .form-block:before{
        content: none;
    }
    .section-form-car .wrapper{
        flex-flow: column;
        align-items: center;
    }
    .section-form-car .wrapper .left-block img{
        top: auto;
        right: auto;
    }
    .section-form-car{
        margin: 50px 0;
    }
    .section-form-car .wrapper .right-block .form-block{
        margin: 0;
        text-align: center;
    }
    .section-form-car .wrapper .left-block{
        width: 90%;
    }
}
@media (max-width: 450px) {
    .section-form-car .wrapper .right-block .form-block{
        width: 100%;
    }
    .section-similar .similar-list .similar-item{
        flex: 0 0 300px;
    }
    .section-similar .similar-list .similar-item .bottom .price{
        font-size: 20px;
    }
    .section-similar .similar-list .similar-item .bottom a{
        font-size: 16px;
    }
}

/*list car*/
.section-car-section .wrapper .car-sections{
    display: flex;
    flex-wrap: wrap;
    margin: 25px -50px;

}
.section-car-section .wrapper .car-sections .car-item{
    position: relative;
    flex: 0 1 33.3333%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin-bottom: 15px;
}
.section-car-section .wrapper .car-sections .car-item a{
    color: #0b9446;
    text-decoration: none;
}
.section-car-section .wrapper .car-sections .car-item .value,
.section-car-section .wrapper .car-sections .car-item .name{
    border-bottom: 1px solid #fff;
    line-height: 0.5;
}
.section-car-section .wrapper .car-sections .car-item .name{
     padding-right: 5px;
}
.section-car-section .wrapper .car-sections .car-item .value{
    padding-left: 5px;
}
.section-car-section .wrapper .car-sections .car-item:after{
    content: '';
    position: absolute;
    width: 75%;
    border-bottom: 1px dotted #848485;
    bottom: 0;
    z-index: -1;
}
.section-car-list .car-list{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e5e3e2;
    padding: 0;
    margin-bottom: 25px;
}
.section-car-list .car-list .car-item{
    cursor: pointer;
    width: 100%;
    border-top: 1px solid #e5e3e2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0;
    background-color: #fff;
}
.section-car-list .car-list .car-item:hover{
    background-color: #edfff5;
    border-color: #edfff5;
}
.section-car-list .car-list .car-item .right-block,
.section-car-list .car-list .car-item .left-block{
    padding: 0 15px;
}
.section-car-list .car-list .car-item .left-block>.name{
    font-size: 18px;
    color: #252625;
    margin-bottom: 10px;
}
.section-car-list .car-list .car-item .left-block .desc{
    color: #636464;
    font-size: 12px;
}
.section-car-list .car-list .car-item .left-block .props{
    padding: 0;
    margin: 25px 0;
    border-spacing: 0;

}
.section-car-list .car-list .car-item .left-block .price{
    font-size: 30px;
    color: #0b9446;
    font-weight: 500;
    margin-bottom: 25px;
}
.section-car-list .car-list .car-item .left-block .props td:first-child{
    color: #636464;
    padding-right: 15px;
}
.section-car-list .car-list .car-item .left-block .props  td{
    padding-bottom: 5px;
}
.section-car-list .car-list .car-item .left-block .buttons .btn{
    width: 220px;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #0000ff;
    box-shadow: 0px 4px 4px 0px rgba(181, 180, 180, 0.75);
    color: black;
}
.section-car-list .car-list .car-item .left-block .buttons .btn:first-child{
    background-color: #0000ff;
    color: #fff;
    margin-right: 15px;
}
.offer-list{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 30px;
    margin: 0 -30px;
}
.offer-list .offer-item{
    width: 450px;
    flex: 0 0 450px;
    padding: 30px;
}
.offer-list .offer-item .top > img{
    width: 100%;
}

.section-offer-day .wrapper{
    overflow: hidden;
}
.offer-list .slick-dots{
    bottom: 10px;
}
.offer-list .slick-dotted.slick-slider{
    margin-bottom: 0;
}
.offer-list .offer-item .bottom{
    margin-top: 15px;
}
.offer-list .offer-item .bottom .name a,
.offer-list .offer-item .bottom .name{
    color: #3a3939;
    font-size: 24px;
    margin-bottom: 10px;
    text-decoration: none;
}
.offer-list .offer-item .bottom .price  {
    color: #0b9446;
    font-size: 30px;
    font-weight: 500;
}
.slick-dots li{
    width: 40px;
    height: 4px;
}
.offer-list .offer-item .slick-dots li button{
    width: 40px;
    height: 4px;
    background-color: #d3d5d6;
    opacity: 0.8;
    padding: 0;
}
.offer-list .offer-item .slick-dots li.slick-active button{
    background-color: #ff0000;
    opacity: 1;
}
.offer-list .offer-item .slick-dots li button:before{
    content: none;
}
.section-form-car-list{

    margin: 60px 0 80px 0;
}
.section-form-car-list .wrapper{
    position: relative;
    border: 14px solid #0b9446;
    display: flex;
    justify-content: space-between;
}
.section-form-car-list .left-block{
    position: relative;
    padding: 30px;
    height: 450px;
}
.section-form-car-list .left-block .name{
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}
.section-form-car-list .left-block .desc{
    font-size: 13px;
    color: #929191;
    text-transform: uppercase;
}
.section-form-car-list .left-block img{
    position: absolute;
    top: 30%;
    left: -26px;
}
.section-form-car-list .form-block{
    position: absolute;
    border: 1px solid #a8a8a8;
    border-top: none;
    padding: 40px;
    background-color: #fff;

    right: 30px;
    top: -50px;
}
.section-form-car-list .form-block .name{
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 80px;
}
.section-form-car-list .form-block .input-block{}
.section-form-car-list .form-block .input-block select,
.section-form-car-list .form-block .input-block input[type=text]{
    border: 1px solid #a8a8a8;
    color: #a8a8a8;
    border-radius: 0;
    width: 100%;
    outline: none;
    font-size: 16px;
    padding: 15px;
    margin-bottom: 15px;
}
.section-form-car-list .form-block .input-block input[type=checkbox]{
    border: 1px solid #a8a8a8;
    border-radius: 0;
    outline: none;
}
.section-form-car-list .form-block .input-block label{
    color: #a8a8a8;
    margin-left: 10px;
}
.section-form-car-list .form-block .input-block input[type=submit]{
    display: block;
    width: 90%;
    margin: 0 auto;
    background-color: #0b9446;
    border: none;
    color: #fff;
    padding: 15px 0;
    box-shadow: 0px 4px 4px 0px rgba(181, 180, 180, 0.75);
    margin-bottom: 80px;
    outline: none;
}
@media (max-width: 1270px) {
    .section-form-car-list .left-block img{
        width: 700px;
        left: -38px;
    }
}
@media (max-width: 1100px) {
    .section-car-section .wrapper .car-sections .car-item{
        flex: 0 1 50%;
    }
    .section-form-car-list .left-block img{
        width: 500px;
        left: -33px;
    }
}
@media (max-width: 997px) {
    .section-form-car-list .form-block{
        position: relative;
        right: auto;
        top: auto;
    }
    .section-form-car-list .wrapper{
        flex-direction: column;
    }
    .section-form-car-list .left-block{
        text-align: center;
        padding-bottom: 0;
    }
    .section-form-car-list .left-block img{
        left: 50%;
        transform: translateX(-50%);
    }
    .section-form-car-list .form-block{
        border: none;
        padding-top: 0;
    }
    .section-car-section .wrapper .car-sections{
        margin: 25px 0;
    }
    .offer-list .offer-item .bottom .name a, .offer-list .offer-item .bottom .name{
        font-size: 20px;
    }
    .offer-list .offer-item .bottom .price{
        font-size: 25px;
    }
    .section-car-list .car-list .car-item{
        flex-direction: column-reverse;
    }
    .section-car-list .car-list .car-item .left-block{
        text-align: center;
    }
    .section-car-list .car-list .car-item .left-block .props{
        margin: 25px auto;
    }
    .section-car-list .car-list .car-item .left-block .props td{
        text-align: left;
    }
    .section-car-list .car-list .car-item .right-block{
        margin-bottom: 15px;
    }
    .section-car-list .car-list .car-item .right-block img{
        max-width: 100%;
    }
}
@media (max-width: 840px) {
    .section-car-section .wrapper .car-sections .car-item{
        flex: 0 1 100%;
        padding: 0 10px;
    }
    .section-car-section .wrapper .car-sections .car-item:after{
        width: 95%;
    }
}
@media (max-width: 520px) {
    .section-form-car-list .left-block img{
        width: 100%
    }
    .section-car-list .car-list .car-item .left-block .buttons .btn:first-child{
        margin-right: 0;
    }
    .offer-list .offer-item{
        width: 380px;
        flex: 0 0 380px;
    }
    .section-form-car-list .form-block{
        padding: 10px;
    }
}
@media (max-width: 480px) {
    .offer-list .offer-item{
        width: 320px;
        flex: 0 0 320px;
    }
}
@media (max-width: 400px) {
    .section-form-car-list .left-block{
        height: 355px;
    }
    .section-form-car-list .left-block img{
        top: 40%;
    }
    .section-form-car-list .form-block{
        padding: 10px;
    }
    .section-car-list .car-list .car-item .left-block .price{
        font-size: 25px;
    }
}
@media (max-width: 335px) {
    .section-form-car-list .left-block img{
        position: relative;
        left: auto;
        transform: none;
        top: auto;
        margin-top: 25px;
    }
    .section-form-car-list .left-block{
        height: auto;
    }
    .section-form-car-list .wrapper{
        border: none;
    }
}